
<table style="text-align:center"><caption><strong>Model Comparison</strong></caption>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Statistic</td><td>N</td><td>Mean</td><td>St. Dev.</td><td>Min</td><td>Max</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Resid. Df</td><td>2</td><td>8,491.000</td><td>4.243</td><td>8,488</td><td>8,494</td></tr>
<tr><td style="text-align:left">Resid. Dev</td><td>2</td><td>11,565.110</td><td>4.450</td><td>11,561.970</td><td>11,568.260</td></tr>
<tr><td style="text-align:left">Df</td><td>1</td><td>6.000</td><td></td><td>6</td><td>6</td></tr>
<tr><td style="text-align:left">Deviance</td><td>1</td><td>6.293</td><td></td><td>6.293</td><td>6.293</td></tr>
<tr><td style="text-align:left">Pr(> Chi)</td><td>1</td><td>0.391</td><td></td><td>0.391</td><td>0.391</td></tr>
<tr><td colspan="6" style="border-bottom: 1px solid black"></td></tr></table>
