
<table style="text-align:center"><caption><strong>Model Summary</strong></caption>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"></td><td><em>Dependent variable:</em></td></tr>
<tr><td></td><td colspan="1" style="border-bottom: 1px solid black"></td></tr>
<tr><td style="text-align:left"></td><td>choice</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">countriescountries20 of 192</td><td>-0.648<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.054)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">countriescountries80 of 192</td><td>-0.312<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.054)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">countriescountries160 of 192</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">sanctionssanctionsNone</td><td>0.304<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.062)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">sanctionssanctions5%</td><td>0.495<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.062)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">sanctionssanctions15%</td><td>0.170<sup>***</sup></td></tr>
<tr><td style="text-align:left"></td><td>(0.062)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">sanctionssanctions20%</td><td></td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td style="text-align:left">Constant</td><td>0.072</td></tr>
<tr><td style="text-align:left"></td><td>(0.054)</td></tr>
<tr><td style="text-align:left"></td><td></td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left">Observations</td><td>8,500</td></tr>
<tr><td style="text-align:left">Log Likelihood</td><td>-5,784.130</td></tr>
<tr><td style="text-align:left">Akaike Inf. Crit.</td><td>11,580.260</td></tr>
<tr><td colspan="2" style="border-bottom: 1px solid black"></td></tr><tr><td style="text-align:left"><em>Note:</em></td><td style="text-align:right"><sup>*</sup>p<0.1; <sup>**</sup>p<0.05; <sup>***</sup>p<0.01</td></tr>
</table>
